/* Venn Diagram */

#vennDiagramMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#vennH1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 16px;
    background: #333;
    color: #ddd;
    font-size: 14px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    opacity: 0;
}

.icon {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    top: 3px;
}

.icon-design {
    background: #b7cddd;
}

.icon-development {
    background: #efcfb3;
}

.icon-it {
    background: #bbd8bb;
}

.icon-devigner {
    background: #c9baaa;
}

.icon-freelancer {
    background: #95c3b2;
}

.icon-backend {
    background: #bfc492;
}

.icon-unicorn {
    background: #a3b48b;
}

/* Keywords */

.keywords {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 5vh;
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 2vh;

        li {
            display: flex;
            gap: 1vh;
        }
    }
}

@media only screen and (max-width: 600px) and (prefers-color-scheme: dark) {
    #vennDiagramMain {
        flex-direction: column;
    }

    .keywords {
        flex-direction: row;
    }
}
